{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project - Home Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<script src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>


{% block extrahead %}{% endblock extrahead %}

<body>
    <div class="navbar">
        <div class="navbar-top">
            <div class="navbar-logo">
                <a href="/" style="z-index: 1;display: flex;"><img src="" alt=""></a>
                <a href="/" style="z-index: 1;text-decoration: none;"><div class="navbar-logo-subtext">directional muon detection</div></a>
            </div>
            <div class="navbar-right-side" style="text-align: center;">

                <i class="fas fa-hashtag" style="font-size: 2em;"></i> of<br><b>muons</b><br><i
                    style="font-size: 0.6em;">added to the database</i>

                <div style="padding-top: 1em;display: -webkit-box;font-size: 1.5em;padding-left: 0.5em;color:#3b3e42;">
                    <i class="fas fa-angle-left"
                        style="color: #a52a2a;opacity: 0.5;margin-right:0.5em;margin-left: -0.25em"></i>{{ number_of_muons }}</div>
            </div>
            <!--{% if raspi_status %}
            <div class="right-side online">
                <i class="fas fa-signal"></i> <b>online</b>
            {% else %}
            <div class="right-side offline">
                <i class="fas fa-window-close"></i> <b>offline</b>
            {% endif %}
            </div>
            -->
        </div>
    </div>
    <div class="page">
        <div class="notifications"></div>
        {% block content %}{% endblock content %}
    </div>

    <div class="mdc-tab-bar navbar-bottom" role="tablist">
        <div class="mdc-tab-scroller">
            <div class="mdc-tab-scroller__scroll-area">
                <div class="mdc-tab-scroller__scroll-content">
                    <button onclick="location.href='/'" title='Home' class="mdc-tab mdc-tab--active" role="tab"
                        aria-selected="true" tabindex="0">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">home</span>
                            <span class="mdc-tab__text-label">Home</span>
                        </span>
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </button>

                    {% if user.is_authenticated %}
                    <button onclick="location.href='upload'" title="Upload" class="mdc-tab mdc-tab--active" role="tab"
                        aria-selected="true" tabindex="0">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">cloud_upload</span>
                            <span class="mdc-tab__text-label">Upload</span>
                        </span>
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </button>
                    {% endif %}

                    <button onclick="location.href='data'" title='Data' class="mdc-tab mdc-tab--active" role="tab"
                        aria-selected="true" tabindex="0">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">insert_chart</span>
                            <span class="mdc-tab__text-label">Data</span>
                        </span>
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </button>

                    <button onclick="location.href='view'" title="View muons" class="mdc-tab mdc-tab--active" role="tab"
                        aria-selected="true" tabindex="0">
                        <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">view_module</span>
                            <span class="mdc-tab__text-label">View</span>
                        </span>
                        <span class="mdc-tab-indicator mdc-tab-indicator--active">
                            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                        </span>
                        <span class="mdc-tab__ripple"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
{% block end-script %}{% endblock end-script %}
</html>