{% extends "base.html" %}
{% load mathfilters %}

{% block extrahead %}
<script type="text/javascript">
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = new google.visualization.DataTable();
    data.addColumn('number', 'Angle');

    data.addColumn('number', 'Theoretical');
    data.addColumn('number', 'Real');
    data.addColumn('number', 'Classical');
    data.addColumn('number', 'Best fitting');




    {% for angle, count in counted_angles.items %}
    data.addRows([
      [{{ angle| floatformat: 2 }}, null, {{ count }}, null, null]
        ]);
  {% endfor %}

  {% for angle, count in theortical_data.items %}
  data.addRows([
    [{{ angle| floatformat: 2 }}, {{ count| floatformat: 2}}, null, null, null]
  ]);
  {% endfor %}

  {% for angle, count in theortical_data_classical.items %}
  data.addRows([
    [{{ angle| floatformat: 2 }}, null, null, {{ count| floatformat: 2}}, null]
  ]);
  {% endfor %}

  {% for angle, count in best_fitting.items %}
  data.addRows([
    [{{ angle| floatformat: 2 }}, null, null, null, {{ count| floatformat: 2}}]
  ]);
  {% endfor %}

  var options = {
    width: 1000,
    height: 550,
    title: 'Muon counts with respect to its incoming angle',
    subtitle: 'Subtitle',


    vAxis: {

      viewWindow: { min: 0 },
      title: 'Counts'
    },

    hAxis: {
      title: 'Angle in degrees'
    },


    series: {

      0: {
        lineWidth: 2
      },
      1: {
        pointSize: 10,
        lineWidth: 0
      },


    }
  };

  var chart = new google.visualization.ComboChart(document.getElementById('muonCountsChart'));

  chart.draw(data, options);
      }
</script>

{% endblock extrahead %}


{% block content %}
<div id="muonCountsChart"></div>

{% endblock content %}