{% load staticfiles %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/base.css" type="text/css" />
</head>

<body style="padding-bottom: 0;    overflow-y: hidden;">
    <div class="error_page_bg_image"></div>
    <div class="error_page_bg_txt">
        <h1>ACTUALLY,</h1>
        <h2>QUANTUM MECHANICS FORBIDS THIS.</h2>
        <a href="/">
            <p>So click to continue with the Newtonian mechanics.</p>
        </a>
        <i class="material-icons dash-icon" style="display: block;">remove</i>
        <img class="projectud-logo" src="" alt="" style="margin: 1em 1.5em !important;">
    </div>

</body>