{% extends "base.html" %}

{% block extrahead %}
<style>
    .page {
        margin-top: -12vh;
    }
</style>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
{% endblock extrahead %}

{% block content %}
<div id="trigger1"></div>
<div class="scrolling-contents">
    <div id="s-content-1" class="s-content content-bigword-image">
        <div class="bigword">WHAT</div>
        <div class="subcontent-image" style=""></div>
        <span id="expand_icon" class="material-icons"
            style="font-weight: 900;color: #3b3e42;width: 100%;margin-top: -96px;position: absolute; text-align: center;">expand_more</span>
    </div>
    <span></span>
    <div id="s-content-2" class="s-content just-text" style="    background-image: url(static/img/sensor_trans.png);
    background-size: 90vh;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;">
        <img class="detector_1" src="static/img/camera_2.png" style="width: 24vw;

    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: rotate(180deg) scaleX(-1);">
        <h4 class="header1">WHAT</h4>
        <i class="material-icons dash-icon">remove</i>
        <h1 class="header2">What is <img class="projectud-logo" src="" alt=""
                style="padding: 18.5px 80px;margin: 0 10px;margin-bottom: -10px;">?</h1>
        <p class="parag">It is a project that its scope is directional muon detection, <i>i.e.</i>, detecting a type of
            sub-atomic particle created in the upper parts of the atmosphere along &mdash;<b>muons</b>&mdash; with the
            information of its
            zenith angle by using a PlayStation Eye Camera.</p>
    </div>
    <span></span>
    <div id="s-content-3" class="s-content just-text" style="background-color: #fca41c;">
        <img class="image" src="/static/img/bilkent-amblem-yazi.png" style="width: 45vw;">
        <h4 class="header1">WHAT</h4>
        <i class="material-icons dash-icon">remove</i>
        <h1 class="header2">Motivation</h1>
        <p class="parag">This project was built as a part of the modern physics course &mdash;<b>PHYS 212</b>&mdash; in
            <i>Bilkent University</i>, <i>Turkey</i>. Normally, testing
            the theory of relativity is somewhat difficult for an undergraduate project; however, <img
                class="projectud-logo" src="" alt="" style="padding: 9.25px 40px;margin: 0 3px;margin-bottom: -5px;">
            offers an
            easy and low-cost method for that.</p>
    </div>
    <span></span>
    <div id="s-content-4" class="s-content left-text-right-image" style="    background-image: url(static/img/lorentz_symmetry.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 45vw;">
        <div class="text">
            <h4 class="header1">WHAT</h4>
            <i class="material-icons dash-icon">remove</i>
            <h1 class="header3">Why <span style="font-weight: 900;">muon detection</span> matters?</h1>
            <p class="parag">Muons are among the most astonishing particles, historically, since they have been helping
                scientists to test and understand Einstein’s theory of special relativity. Therefore, muon detection is
                a useful method for the science of relativity considering that the newest technologies of our age can
                make the experimentation in this area much easier.</p>
        </div>
        <div class="image">
            <img class="image" src="/static/img/physicists.png" style="    width: 45vw;">
        </div>
    </div>
    <span></span>
    <div id="s-content-5" class="s-content content-bigword-image" style="background-color: #fca41c;">
        <div class="bigword">HOW</div>
        <i class="fas fa-cog gear" style="left: 0px; bottom: 0px;margin-left: -40vh;margin-bottom: -23vh;"></i>
        <i class="fas fa-cog gear" style="right: 0px;top: 0px;margin-right: -40vh;margin-bottom: -23vh;"></i>
    </div>
    <span></span>
    <div id="s-content-6" class="s-content just-text"
        style="background-image: url(static/img/cosmic_ray_background2.jpg);background-size: cover;">
        <h4 class="header1">HOW</h4>
        <i class="material-icons dash-icon">remove</i>
        <h1 class="header2">Theory</h1>
        <p class="parag">The majority of muons are produced at about an altitude of 15 km from
            ground as the decay products of cosmic rays interacting with the particles in the atmosphere of the Earth.
            Owing to the special relativity, the lifetimes of these muons moving near the speed of light are much
            longer.
            In order to test this phenomenon, the incoming muons ought to be detected so that their zenith angle can be
            determined.
        </p>
    </div>
    <span></span>
    <div id="s-content-7" class="s-content just-text" style="vertical-align: baseline;background-color: #fca41c;">
        <img class="image" src="/static/img/camera.png"
            style="    display: -webkit-inline-box;;transform: scaleY(-1);width: 30vw;">
        <h4 class="header1">HOW</h4>
        <i class="material-icons dash-icon">remove</i>
        <h1 class="header2">Collecting data</h1>
        <p class="parag">The CMOS image sensor of the camera is used to detect cosmic rays.
            It is also isolated from visible light and cosmic rays rather than muons, with lead plates and a bunch of
            cellotapes.
            When a sparkle is detected, the following picture is saved if its brightness value is above the defined
            threshold.</p>
    </div>
    <span></span>
    <div id="s-content-8" class="s-content left-text-right-image">
        <div class="text">
            <h4 class="header1">HOW</h4>
            <i class="material-icons dash-icon">remove</i>
            <h1 class="header3">Processing and displaying data</h1>
            <p class="parag"> This website serves the purpose of processing the captured pictures to calculate the
                zenith angle and
                displaying the angle-count chart and the pictures of individual muons with their information. The
                recorded data is uploaded manually to the
                website and the angle-count chart is updated with each upload.</p>
        </div>
        <div class="image">
            <img class="image" src="/static/img/screenshot_1.png" style="    width: 29vw;
            margin-left: 5vw;">
        </div>
    </div>
    <span></span>
    <div id="s-content-9" class="s-content content-bigword-image" style="background-color: #fca41c;    background-image: url(static/img/physicists.jpg);
    background-size: cover;
    background-repeat: no-repeat;">
        <div class="bigword">WHO</div>

    </div>
    <span></span>
    <div id="s-content-10" class="s-content just-text">
        <h4 class="header1">WHO</h4>
        <i class="material-icons dash-icon">remove</i>
        <h1 class="header2">Find out about our team</h1>
        <p class="parag">
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="light" data-vanity="cevenkadir"><a class="LI-simple-link"
                    href='https://tr.linkedin.com/in/cevenkadir?trk=profile-badge'>Kadir Çeven</a></div>
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="light" data-vanity="alperen-saltık-144104176"><a class="LI-simple-link"
                    href='https://tr.linkedin.com/in/alperen-saltık-144104176?trk=profile-badge'>Alperen Saltık</a>
            </div>
            <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical"
                data-theme="light" data-vanity="ömer-faruk-e-8901b7173"><a class="LI-simple-link"
                    href='https://www.linkedin.com/in/%C3%B6mer-faruk-e-8901b7173/?trk=profile-badge'>Ömer Faruk
                    Erşahan</a></div>
        </p>
        <a href="https://github.com/cevenkadir/projectud"><i class="fab fa-github"></i></a>
    </div>

</div>



<script>



    $(window).scroll(function () {

        //  $('.bigword').css('opacity', 1 - (window.pageYOffset * 2.5) / $(window).height());
        //$('.subcontent-image').css('opacity', 1 - (window.pageYOffset * 5) / $(window).height());
        $('#expand_icon').css('opacity', 1 - (window.pageYOffset * 10) / $(window).height());

    });

    function smoothFadeScroll(s_content_num) {
        $(window).scroll(function () {
            var id = "#s-content-" + s_content_num + " ";
            var scr_due_position = $(id).offset().top - window.pageYOffset;
            $('.LI-profile-badge, ' + id + ' .detector_1, ' + id + ' .subcontent-image, ' + id + ' .bigword,' + id + '.image, ' + id + '.header1, ' + id + '.header2,' + id + '.header3,' + id + '.header4,' + id + '.parag, ' + id + '.material-icons').css('opacity', 2.5 - Math.exp(8 * (scr_due_position / $(id).height()) ** 2));
        });
    }

    function rotateGears() {
        var scroll_y_position = window.pageYOffset / 10;
        var c = ".gear";
        $(c).css('transform', 'rotate(' + scroll_y_position + 'deg)');
    }

    document.addEventListener('scroll', rotateGears)

    smoothFadeScroll(1);
    smoothFadeScroll(2);
    smoothFadeScroll(3);
    smoothFadeScroll(4);
    smoothFadeScroll(5);
    smoothFadeScroll(6);
    smoothFadeScroll(7);
    smoothFadeScroll(8);
    smoothFadeScroll(9);
    smoothFadeScroll(10);

</script>

{% endblock content %}