{% extends "base.html" %}

{% block extrahead %}
<style>
    .page {
        margin-top: -12vh;
    }
</style>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
{% endblock extrahead %}

{% block content %}
<div id="trigger1"></div>
<div class="scrolling-contents">
    <div id="s-content-1" class="s-content content-bigword-image">
        <div class="bigword">WHAT</div>
        <div class="subcontent-image" style=""></div>
        <span id="expand_icon" class="material-icons"
            style="font-weight: 900;color: #3b3e42;width: 100%;margin-top: -96px;position: absolute; text-align: center;">expand_more</span>
    </div>
    <br>
    <div id="s-content-2" class="s-content just-text">
        <h4 class="header1">WHAT</h4>
            <i class="material-icons">
                remove
            </i>
            <h1 class="header2">What is project&#956;d?</h1>
            <p class="parag">It is a project whose scope is directional muon detection, <i>i.e.</i>, detecting a type of subatomic particle which is created in the upper parts of the atmosphere along with the information of its zenith angle.</p>
    </div>
    <br>
    <div id="s-content-3" class="s-content just-text" style="background-color: #fca41c;">
        <img class="image" src="/static/img/physicists.png">
        <h4 class="header1">This project is a part of PHYS 212 class in Bilkent University, Turkey. Normally, testing the theory of relativity is somewhat difficult for an undergraduate project. However, projectud offers an easy and low-cost method for that.</h4>
            <i class="material-icons">
                remove
            </i>
            <h1 class="header2">Motivation</h1>
    </div>
    <br>
    <div id="s-content-4" class="s-content left-text-right-image">
        <div class="text">
            <h4 class="header1">WHAT</h4>
            <h1 class="header3">Why the muon detection matters?</h1>
            <h2 class="header4">asddd</h2>
            <p class="parag">Muons are one of the most astonishing particles, historically, since they have been helping scientists to test and understand Einstein’s special theory of relativity. Therefore, muon detection is a useful method for the science of relativity considering that the newest technologies of our age can make the experimentation in this area much easier.</p>
        </div>
        <div class="image">
                <img class="image" src="/static/img/physicists.png">
        </div>
    </div>
    <br>
    <div id="s-content-5" class="s-content content-bigword-image" style="background-color: #fca41c;">
        <div class="bigword">HOW</div>
        <div class="subcontent-image" style="background-image:url(static/img/what_img.png)"></div>
    </div>
    <br>
    <div id="s-content-6" class="s-content just-text">
        <h4 class="header1">HOW</h4>
            <i class="material-icons">
                remove
            </i>
            <h1 class="header2">Theory</h1>
            <p class="parag">Thanks to the special relativity, lifetimes of muons are much longer due to their speeds close to speed of light. Majority of the muons that reach to earth are created about an altitude of 15km from ground, due to the interaction between cosmic ray and particles in atmosphere. To test this phenomenon, arriving muons should be detected and their angles should be determined.
            </p>
    </div>
    <br>
    <div id="s-content-7" class="s-content just-text" style="background-color: #fca41c;">
        <img class="image" src="/static/img/physicists.png">
        <h4 class="header1">CMOS camera sensor is used to detect cosmic rays. Sensor is isolated to light and cosmic rays other muons, with lead plates and black tape.
            When an excitation is detected in the sensor, picture is saved. Direction of the muons are determined from the captured images. Longer trace means more horizontal angle due to Pythagorean theorem.</h4>
            <i class="material-icons">
                remove
            </i>
            <h1 class="header2">System</h1>
    </div>
    <br>
    <div id="s-content-8" class="s-content left-text-right-image">
        <div class="text">
            <h4 class="header1">HOW</h4>
            <h1 class="header3">Webpage</h1>
            <h2 class="header4">asddd</h2>
            <p class="parag">This webpage serves the purpose of displaying the graph of incident angles and muon counts, also with pictures of individual muons with their information. Recorded data is uploaded manually to the server and the angle-count curve is updated with each upload.</p>
        </div>
        <div class="image">
                <img class="image" src="/static/img/physicists.png">
        </div>
    </div>

</div>



<script>



    $(window).scroll(function () {

      //  $('.bigword').css('opacity', 1 - (window.pageYOffset * 2.5) / $(window).height());
        //$('.subcontent-image').css('opacity', 1 - (window.pageYOffset * 5) / $(window).height());
        $('#expand_icon').css('opacity', 1 - (window.pageYOffset * 10) / $(window).height());
        
    });

    function smoothFadeScroll(s_content_num) {
        $(window).scroll(function () {
            var id = "#s-content-" + s_content_num + " ";
            var scr_due_position = $(id).offset().top - window.pageYOffset;
            $(id + ' .subcontent-image, ' +id + ' .bigword,' +id + '.image, ' + id + '.header1, ' + id + '.header2,' + id + '.header3,' + id + '.header4,' + id + '.parag, ' + id + '.material-icons').css('opacity', 2.5 - Math.exp(8 * (scr_due_position / $(id).height()) ** 2));
        });
    }

    smoothFadeScroll(1);
    smoothFadeScroll(2);
    smoothFadeScroll(3);
    smoothFadeScroll(4);
    smoothFadeScroll(5);
    smoothFadeScroll(6);
    smoothFadeScroll(7);
    smoothFadeScroll(8);

</script>

{% endblock content %}