{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<div style="text-align: center;">
    {% for i in muons %}
    <div class="muon_card mdc-card">
        <div class="mdc-card__primary-action mdc-card__primary-action mdc-ripple-upgraded" tabindex="0">
            <div class="mdc-card__media mdc-card__media--square mdc-card__media"
                style="background-image: url({{i.image.url}});"></div>
            <div class="mdc-card__primary" style='background-color: rgba(101,81,39, {{ i.angle|div:90 }});'>
                <h3 class="mdc-card__subtitle mdc-typography mdc-typography--subtitle2" style="margin-bottom: 1px;">
                    Detected at the angle of</h3>
                <h3 class="mdc-card__title mdc-typography mdc-typography--headline8">{{i.angle|floatformat:2}}&deg;</h3>
                <h4 class="mdc-card__subtitle mdc-typography mdc-typography--subtitle1"
                    style="margin-top: -15px;font-size: 85%;">on {{i.detection_time}}</h4>

                <hr class="style1" style="display: none;">

                <h3 class="mdc-card__subtitle mdc-typography mdc-typography--subtitle2"
                    style="margin-bottom: 3px;text-align: center;opacity: 0.7;display: none;">possibility of being a
                    muon</h3>
                <div role="progressbar" class="mdc-linear-progress" style="display: none">
                    <div class="mdc-linear-progress__buffering-dots"></div>
                    <div class="mdc-linear-progress__buffer"></div>
                    <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar"
                        style="transform: scaleX(0.1);">
                        <span class="mdc-linear-progress__bar-inner" style="display: block;"></span>
                    </div>
                    <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                        <span class="mdc-linear-progress__bar-inner"></span>
                    </div>
                </div>
                <h4 class="mdc-card__subtitle mdc-typography mdc-typography--subtitle1"
                    style="margin-top: -5px;margin-bottom: 10px;font-size: 85%;text-align: right;opacity: 0.5;display: none;">
                    10%</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if is_paginated %}
<div class="mdc-tab-bar navbar-bottom" role="tablist" style="display: contents;">
    <div class="mdc-tab-scroller" style="    margin: 2vh auto;
  width: fit-content;">
        <div class="mdc-tab-scroller__scroll-area">
            <div class="mdc-tab-scroller__scroll-content">
                {% if page_obj.has_previous %}
                <button onclick="location.href='?page={{ page_obj.previous_page_number }}'" title='Home'
                    class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label" style="font-weight: 900;">&laquo;</span>
                    </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                </button>
                {% endif %}

                {% for i in paginator.page_range %}
                {% if i <= page_obj.number|add:5 and i >= page_obj.number|add:-5 %}
                {% if page_obj.number == i %}
                <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0" disabled>
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">{{ i }}</span>
                    </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline "></span>
                    </span>
                    <span class="mdc-tab__ripple mdc-ripple-upgraded--background-focused"></span>
                </button>
                {% else %}
                <button onclick="location.href='?page={{ i }}'" class="mdc-tab mdc-tab--active" role="tab"
                    aria-selected="true" tabindex="0">
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">{{ i }}</span>
                    </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                </button>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <button onclick="location.href='?page={{ page_obj.next_page_number }}'" title='Home'
                    class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                    <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label" style="font-weight: 900;">&raquo;</span>
                    </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}